body{
  background-color: LightSteelBlue;
}

.tituloPosicao{
  width: fit-content;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 4%;
  font-family: Georgia;
  color: rgb(30, 32, 53);
}

.botao-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  background-color: rgb(241, 240, 255);
  margin-top: 4%;
  height: 30px;
  width: 70px;
  font-size: 15px;
  border-color: rgb(97, 97, 126);
  border-radius: 5px;
}

button:hover{
  background-color: rgb(205, 205, 224);
}